/* Common */
section {
    padding: 2% 0;
    text-align: center;
}

[class*="col-"] {
    padding: 2%;
}
/* --Common */

/* Images resizing */
.top h1,
.mid h1 {
    margin-bottom: 3%;
}
.top img,
.mid img {
    height: 200px;
}

.btm img {
    height: 250px;
    margin-top: 3%;
    padding: 5%;
    border-radius: 50%;
    background-color: #428bca;
}
/* --Images resizing */

/* Tablet specific */
@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .top img,
    .mid img,
    .btm img {
        height: 150px;
    }

}
/* --Tablet specific */

/* Smartphone specific */
@media screen and (max-width: 767px) {

    h1 {
        font-size: 30px;
    }
    
    .top img,
    .mid img,
    .btm img {
        height: 120px;
    }
    
    .top,
    .btm {
        background-color: #f2f2cd;
    }
    
}
/* --Smartphone specific */