section {
    padding: 2% 0;
    text-align: center;
}

[class*="col-"] {
    padding: 1%;
}

.top h1,
.mid h1 {
    margin-bottom: 3%;
}
.top img,
.mid img {
    height: 200px;
}

.btm img {
    height: 250px;
    margin-top: 3%;
    padding: 5%;
    border-radius: 50%;
    background-color: #428bca;
}

@media screen and (max-width: 767px) {

    .top img,
    .mid img,
    .btm img {
        height: 150px;
    }
    
    .top,
    .btm {
        background-color: #f2f2cd;
    }
    
}